# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Project artifacts
.database/
database.db
*.sqlite3

# Test/coverage caches
.pytest_cache/
.coverage*
.mypy_cache/
.ruff_cache/

# UV
.uv/
uv.lock
